<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    I have 12+ years of experience as back-end engineer, team lead and ScrumMaster. I enjoy solving
                    inherently difficult problems as part of a self-managed team.
                </p>
                <p>
                    I designed <a href="https://relaynet.link/" title="Relaynet: The resilient and modern computer network"
                    >Relaynet</a> to keep people connected despite Internet blackouts caused by repressive regimes or
                    natural disasters, as well as to help software vendors build products that can't be built with the
                    Internet today. I invented it at the University of Oxford and subsequently founded
                    <a href="https://relaycorp.tech">Relaycorp</a> to support its development.
                </p>
                <p>
                    For more career details, please
                    <a href="https://www.linkedin.com/in/gustavonarea/">go to my LinkedIn profile</a>.
                </p>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Highlights</h3>
                <ul>
                    <li>
                        Extensive commercial experience with Python, Node.js, PostgreSQL, MongoDB, Docker and AWS,
                        amongst others.
                    </li>
                    <li>
                        Former core contributor to and author of popular Python projects, such as TurboGears 2 and
                        repoze.what.
                    </li>
                    <li>
                        I previously worked at <a href="https://auth0.com/about">Auth0</a>, in the small dev team behind
                        the core service that processes over 42 million logins a day.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
