<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    Simply send an email to <a href="mailto:bouncer@gustavo.engineer">bouncer@gustavo.engineer</a> and
                    mention the word "abracadabra" somewhere in the email (if you don't, I won't get it!).
                </p>
                <p>
                    Please note that if you'd like to talk about any of my software projects, it'd be best to use its
                    corresponding support channel.
                </p>
            </div>
        </div>
    </div>
</section>
