<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>My personal interests include:</p>
                <ul>
                    <li>
                        <strong>Blockchain, serverless computing and IoT</strong>.
                        I'm very keen to build projects with one of these technologies in my spare time, after I've
                        finished my master's.
                    </li>
                    <li>
                        <strong>Cycle touring and adventure trips</strong>. I enjoy cycling, hiking and camping in
                        remote places around the world. I occasionally upload photos to
                        <a href="https://www.flickr.com/people/gus_adventures/">my Flickr account</a>.
                    </li>
                    <li>
                        <strong>Bicycle maintenance</strong>. This started out of necessity before
                        <a href="https://www.flickr.com/photos/gus_adventures/albums/72157693845713980">my solo cycle
                            tour in Iceland</a>
                        a few years ago, but I enjoyed it and now I have my own workshop at
                        home.
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0">Recent Projects</h3>
                <ul>
                    <li>
                        I'm currently working on
                        <a href="https://relaynet.link/"
                           title="Relaynet: Delay-Tolerant Networking for Consumer and Enterprise Software"
                        >Relaynet</a>
                        to make the Internet tolerant to delays lasting up to a number of days.
                    </li>
                    <li>
                        I built <a href="https://pythonhosted.org/pyrecord/">PyRecord</a> to bring record types to
                        Python, inspired by the implementation in my favourite language (Ada).
                    </li>
                </ul>
                <h3>Other Things</h3>
                <ul>
                    <li>
                        I made a business out of my first web app at the age of 17 and learned many lessons the hard
                        way. It reached profitability quite quickly, but it only lasted six months.
                    </li>
                    <li>
                        I've spoken at EuroPython, Django Users Group in London and Libre Software Meeting (RMLL),
                        amongst others.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
